body, html {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    background-image: url("images/bg.png");
    background-size: 40%;
  }

  .inner {
    margin-left: 7%;
    margin-right: 7%;
    padding-left: 2%;
    padding-top: 0.5%;
    margin-top: 0;
    background: rgb(226, 226, 226);
  }
  .inner p {
    width: 80%;
    padding-left: 10%;
  }
  
  .column {
    float: left;
    width: auto;
    padding-left: 1%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .bg {
    /* Full height */
    width: 85%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
  }
  
  /* Add a black background color to the top navigation */
  .topnav {
    background-color: rgb(68, 68, 68);
    overflow: hidden;
    margin-left: 7%; 
    margin-right: 7%;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 25px;
    height: 100%;
    text-decoration: none;
    font-size: 20pt;
  }

  .centred {
    text-align: center;
  }
  
  .inline-img {
    display: inline;
    margin: 0 0.125em;
    padding: 0;
    height: 20px;
    vertical-align: baseline;
  }

  .topnav button {
    all: unset;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 25px;
    height: 100%;
    text-decoration: none;
    font-size: 20pt;
  }
  
  .topnav img {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 5px 16px;
    text-decoration: none;
    height: 60px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
 
  .topnav button:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }

  .members {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 80%;
    padding-left: 10%;
  }
  
  .members td, .members th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .members tr:nth-child(even){background-color: #f2f2f2;}
  
  .members tr:hover {background-color: #ddd;}
  
  .members th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    
    color: white;
  }

  .active-member th{
    background-color: #04AA6D;
  }

  .inactive-member th{
    background-color: #d12828;
  }