body, html {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    padding-left: 2%;
    padding-right: 2%;
  }
  
  .column {
    float: left;
    width: auto;
    padding-left: 1%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .bg {
    /* Full height */
    width: 85%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
  }
  
  /* Add a black background color to the top navigation */
  .topnav {
    background-color: rgb(68, 68, 68);
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 25px;
    height: 100%;
    text-decoration: none;
    font-size: 20pt;
  }
  
  .topnav button {
    all: unset;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 25px;
    height: 100%;
    text-decoration: none;
    font-size: 20pt;
  }
  
  .topnav img {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    height: 40px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav button:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }